@namespace APM.StaffZen.Blazor.Shared

<div class="app-card @Class">
    @if (!string.IsNullOrEmpty(Title))
    {
        <div class="card-header">
            <h5>@Title</h5>

            @if (!string.IsNullOrEmpty(ActionText))
            {
                <span class="card-action">@ActionText</span>
            }
        </div>
    }

    <div class="card-body">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? ActionText { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
